</p>
<div class="row">
    <div class="col-md-4">
        <div class="portlet box purple">
            <div class="portlet-title sbold">
                <div class="caption">
                    <label>
                        Change Password
                    </label>
                </div>


            </div>
            <div class="portlet-body">
                <form name="frm" novalidate>
                    <div class="row">
                        <div class="from-body">
                            <div class="form-group" style="padding: 5px 15px !important" ng-class="{'has-error':frm.Password.$touched && frm.Password.$invalid}" data-toggle="tooltip" data-placement="bottom" title="Old Password">
                                <input type="password" class="form-control" id="txtFocus" placeholder="Old Password" name="OldPassword" ng-model="OldPassword" maxlength="51" ng-maxlength="50" required autofocus />
                                <span class="help-block" style="display: block;" ng-if="frm.Password.$error.required && frm.Password.$touched">Old Password is required!</span>
                                <span class="help-block" ng-if="frm.Password.$error.maxlength">50 Character Max</span>
                            </div>
                            <div class="form-group" style="padding: 5px 15px !important" ng-class="{'has-error':frm.NewPassword.$touched && frm.NewPassword.$invalid}" data-toggle="tooltip" data-placement="bottom" title="New Password">
                                <input type="password" class="form-control" id="txtFocus" placeholder="New Password" name="NewPassword" ng-model="NewPassword" maxlength="51" ng-maxlength="50" required autofocus />
                                <span class="help-block" style="display: block;" ng-if="frm.NewPassword.$error.required && frm.NewPassword.$touched">New Password is required!</span>
                                <span class="help-block" ng-if="frm.NewPassword.$error.maxlength">50 Character Max</span>
                            </div>
                            <div class="form-group" style="padding: 5px 15px !important" ng-class="{'has-error':frm.RetypenewPassword.$touched && frm.RetypenewPassword.$invalid}" data-toggle="tooltip" data-placement="bottom" title="Retype New Password">
                                <input type="password" class="form-control" id="txtFocus" placeholder="Retype New Password" name="RetypenewPassword" ng-model="RetypenewPassword" maxlength="51" ng-maxlength="50" required autofocus />
                                <span class="help-block" style="display: block;" ng-if="frm.RetypenewPassword.$error.required && frm.RetypenewPassword.$touched">New Password is required!</span>
                                <span class="help-block" ng-if="frm.RetypenewPassword.$error.maxlength">50 Character Max</span>
                            </div>
                            
                            <div class="form-actions" style="padding: 5px 15px !important" block-ui="entryBlock">
                                <button type="submit" class="btn btn-lg btn-success box-shadow--8dp" style="min-width:90px !important; margin-right: 10px; margin-bottom: 5px" ng-disabled="frm.$invalid" ng-click="postPassword('save')">Submit</button>
                                <button type="button" class="btn btn-lg btn-danger box-shadow--8dp" style="min-width:90px !important; margin-right: 10px; margin-bottom: 5px" ng-show="entity.PaymentTypeId > 0" ng-click="post('delete')">Delete</button>
                                <button type="button" class="btn btn-lg btn-default box-shadow--8dp" style="min-width:90px !important; margin-bottom: 5px" ng-click="resetForm()">Reset</button>
                            </div>

                        </div>

                    </div>
                </form>

            </div>
        </div>

    </div>
    

</div>